<a href="https://colab.research.google.com/github/PriyanshSaxena25/data_analysis/blob/main/NumPy2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [6]:
import numpy as np
import os

In [10]:
pip install urllib3

Requirement already satisfied: urllib3 in /usr/local/lib/python3.7/dist-packages (1.24.3)

In [15]:
os.getcwd()

'/content'

In [17]:
import urllib.request as ur

In [23]:
url1 = 'https://hub.jovian.ml/wp-content/uploads/2020/08/loans1.txt'
url2= 'https://hub.jovian.ml/wp-content/uploads/2020/08/loans2.txt'
url3 = 'https://hub.jovian.ml/wp-content/uploads/2020/08/loans3.txt'

In [25]:
ur.urlretrieve(url1,'./data/loans1.txt')
ur.urlretrieve(url2,'./data/loans2.txt')
ur.urlretrieve(url3,'./data/loans3.txt')
os.listdir('./data')

['loans2.txt', 'loans1.txt', 'loans3.txt']

In [27]:
file1 = open('./data/loans1.txt',mode='r')
file1_contents = file1.read()

In [37]:
print(file1_contents)

amount,duration,rate,down_payment
100000,36,0.08,20000
200000,12,0.1,
628400,120,0.12,100000
4637400,240,0.06,
42900,90,0.07,8900
916000,16,0.13,
45230,48,0.08,4300
991360,99,0.08,
423000,27,0.09,47200

In [30]:
file1.close() #important

##Better way
to open a file and close it imedieatily we can use with statement

In [31]:
with open('./data/loans2.txt') as file2:
  file2_contents = file2.read()

###The read line Function is used to have lines in a string 


```
files1_lines = file1.readlines()
```

In [33]:
with open('./data/loans3.txt') as file3:
 file3_lines = file3.readlines()
print(file3_lines)

['amount,duration,rate,down_payment\n', '883000,16,0.14,\n', '45230,48,0.07,4300\n', '100000,12,0.1,\n', '728400,120,0.12,100000\n', '3637400,240,0.06,\n', '82900,90,0.07,8900\n', '316000,16,0.13,\n', '15230,48,0.08,4300\n', '991360,99,0.08,\n', '323000,27,0.09,4720010000,36,0.08,20000\n', '528400,120,0.11,100000\n', '8633400,240,0.06,\n', '12900,90,0.08,8900\n']

###To remove the newline character '/n' we can use the strip function


```
fle3_lines.strip()
```

In [35]:
# file3_lines[0]
file3_lines[0].strip()

'amount,duration,rate,down_payment'

In [38]:
def parse_headers(header_line):
  return header_line.strip().split(',')

In [40]:
file3_lines[0]

'amount,duration,rate,down_payment\n'

In [42]:
headers = parse_headers(file3_lines[0])

In [43]:
headers

['amount', 'duration', 'rate', 'down_payment']

In [47]:
def parse_values(data_line):
  values = []
  for item in data_line.strip().split(','):
    values.append(float(item))
  return values

###If parse_values function is invoked on a line which does not have a 4th value then it will throw an error

In [45]:
file3_lines[1]

'883000,16,0.14,\n'

In [ ]:
parse_values(file3_lines[1]) #cannot convert string to float

###To hadle this case we will modify our function

In [50]:
def parse_values(data_line):
  values = []
  for item in data_line.strip().split(','):
    if item == '':
      values.append(0.0)
    else:
      values.append(float(item))
  return values